﻿@using Newtonsoft.Json
@{
    ViewBag.Title = "Home Page";
}

@helper RenderReact(string moduleName, object props, string elementId)
{
    <div id="@elementId">
    </div>
    <script src="@Url.Content($"~/Scripts/ClientApp/dist/{moduleName}/bundle.js")"></script>
    <script>
        @(Html.Raw($"{moduleName}.renderComponent({JsonConvert.SerializeObject(props)}, '{elementId}');"))
    </script>
}

@RenderReact("UdfAdminModalsModule", new {}, "modals")
<script>
    //UdfAdminModalsModule.showWarningModal();
</script>